<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Yolculuk</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <script src="{{ url_for('static', filename='jquery/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
</head>
<body>
    <div class="body">
            <div id="deneme" class="content-body text-center">
                    <div class="pt-3 centered carousel-inner">
                        <h1 class="text-center">Hangi Araç ile Yolculuk Yapacaksınız Tahmini.</h1>
                        <form action="{{ url_for('predict') }}" method = "post">
                            <div class="form-group">
                                <label class="control-label">Kardeş Sayısı:</label>
                                <input class="form-control" type="text" name="Kardeş Sayısı:" required="required" placeholder="Brüt..." />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Yaş</label>
                                <input class="form-control" type="text" name="Yaş:" required="required" placeholder = "Evin Oda Sayisi..."/>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Yol</label>
                                <input class="form-control" type="text" name="Yol:" required="required" placeholder = "Evin Salon Sayisi..." />
                            </div>
                            <button type="submit" class="btn btn-primary">Predict</button>
                            <br><br>
                        </form>
                        <div class="alert alert-success container">
                                {{ prediction_text }}
                        </div>
                    </div>
    </div>
    </div>
</body>
</html>
                        