<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Okul Kütüphanesi</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="OkulKutuphanesi.html"> Okul Kutuphanesi <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="OkulArabaSecme.html"> Okul Araba Şeçme <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="Titanik.html"> Titanik <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="SmartClassroom.html"> Smart Classroom <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="NewspaperShelves.html"> Newspaper Shelves <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="SortingHat.html"> Sorting Hat <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="TouristinInfo.html"> Touristin Info <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="MakeMeHappy.html">  Make Me Happy <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>
    <div class="body">
            <div id="deneme" class="content-body text-center">
                    <div class="pt-3 centered carousel-inner">
                        <h1 class="text-center">Hangi Kitap Okumak İstersin</h1>
                        <form action="{{ url_for('OkulKutuphanesiPredict') }}" method = "post">
                            <div class="form-group">
                                <label class="control-label">Sayfa</label>
                                <input class="form-control" type="text" name="Sayfa" required="required" placeholder = "Sayfa...."/>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Satır</label>
                                <input class="form-control" type="text" name="Satır" required="required" placeholder="Satır...." />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Resim Sayisi</label>
                                <input class="form-control" type="text" name="Resim Sayisi" required="required" placeholder="Resim Sayisi...." />
                            </div>
                            <br><br>
                            <button type="submit" class="btn btn-primary">Predict</button>
                        </form>
                        <div class="alert alert-success container">
                                {{ prediction_text }}
                        </div>
                    </div>
    </div>
    </div>
</body>
</html>
                        